.title-font {
    background-color: orange;
    color: white;
    font-size: 70px;
    padding: 170px 1.5em 0.5em 1.5em;
    font-family: 'Bebas Neue', 'arial';
}

.job-post {
    border: solid;
    padding: 10px;
    margin: 16px 10px 28px 10px;
}

#user-form {
    margin-top: 5em;
}

.form-row {
    margin-bottom: 16px;
}

.btn {
    background-color: white;
    font-size: 2em;
    padding: 10px 24px;
    border-radius: 12px;
    margin-top: 16px;
    margin-bottom: 32px;
}

.btn:hover {
    color: white;
    background-color: orange;
    border: none;
}

.slider {
    text-align: center;
    margin: 0 auto;
    width: 80%; 
    height: 35px; 
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .slider:hover {
    opacity: 1;
  }

.copy-text {
    margin-left: 16px;
    position: relative;
    margin-top: 85px;
}

