
.img-1 {
    background-image: url(./images/hands.jpg);
    opacity: 0.5;
    width: 600px;
    height: 380px;
    position: absolute;
    right: 50px;
    right: 70px;
    bottom: 50px;
    z-index: -1;
    background-size: cover;
}

.img-2 {
    background-image: url(./images/meeting.jpg);
    opacity: 0.5;
    width: 495px;
    height: 580px;
    position: absolute;
    top: 90px;
    left: 70px;
    z-index: -1;
    background-size: cover;
}

.title-font {
    background-color: orange;
    color: white;
    font-size: 70px;
    padding: 170px 1.5em 0.5em 1.5em;
    font-family: 'Bebas Neue', 'arial';
}

.job-post {
    border: solid;
    padding: 10px;
    margin: 16px 10px 28px 10px;
    background-color: rgb(238, 238, 238);
}



#user-form {
    margin-top: 5em;
}


.form-row {
    margin-bottom: 16px;
}

.border {
    border: 2px solid black;
    width: 100%;
    border-radius: 16px;
    height: 45px;
}


.job-data-title {
    font-weight: 700;
    font-size: 18px;
    color: blue;
}

.job-data-subtitles {
    color:red;
}


.btn {
    background-color: white;
    font-size: 2em;
    padding: 10px 24px;
    border-radius: 12px;
    margin-top: 16px;
    margin-bottom: 32px;
}

.btn:hover {
    color: white;
    background-color: orange;
    border: none;
}

.slider {
    text-align: center;
    margin: 0 auto;
    width: 80%; 
    height: 35px; 
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

.copy-text {
    margin-left: 16px;
    position: fixed;
    bottom: 0;
}

